[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
start = "flask run --port=50001 --host=0.0.0.0"
format = "autopep8 -ivr ."
lint = "flake8 --show-source --ignore=E501 ."
